manifest {
    name = 'Variant annotation'
    description = 'Annotation of VCF files for small variants and structural variants'
    mainScript = 'main.nf'
    version = '1.0.0'
    author = 'Edoardo Giacopuzzi'
    nextflowVersion = '20.10.0'
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "/well/gel/HICF2/software/singularity"
  runOptions = "--bind /well:/well"
}

params {
  build = "GRCh38"
  ncpus = 10
  snpEff_data = "/well/gel/HICF2/software/snpEff/5.0e/data/"
  sv_config = "$projectDir/config/SV_annotation.json"
  anno_toml = "$projectDir/config/GRCh38_annotations.toml"
  lua = "$projectDir/config/GRCh38_annotations.lua"
}

process {
  withName: 'sv_anno' {
    container = "library://edg1983/wgs_pipeline/sv_processing:v1.0"
  }
}

profiles {
  cluster {
    executor {
      name = 'sge'
      queueSize = 200
      pollInterval = '2 min'
      queueStatInterval = '2 min'
      dumpInterval = '2 min'
    }
    process {
      withName: snpEff {
        queue='short.qc'
        clusterOptions='-pe shmem 2'
      }
      withName: vcfanno {
        queue='short.qc'
        clusterOptions="-pe shmem ${params.ncpus}"
      }
    }
  }

  humbug {
    executor {
      name = 'local'
      queueSize = 2
    }
  }
}